
.head{
    height: 300px;
    background-color: bisque;
    /* background-image: url(sourav.JPG); */
    background-image: url(../image/sourav.JPG);
    background-size: contain;
}

.blog{
    /* border: 20px solid greenyellow;  */
    margin: 20px;
    padding: 20px 80px 30px;
   width: 150px;
   height:10px ;
   display: inline-block;

}
.font{
    text-decoration: underline;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: #2b819b;
}
#sk{
    color: #a20a0a;
}
.do{
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(25, 149, 108);
}
#footer{
    display: block;
    margin-top: 0%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}